/* 可选: 点击时的样式 */
nav ul li a:active {
    transform: scale(0.98); /* 按下时轻微缩放效果 */
}


.ph_top {
    text-align: center;
    margin: 40px auto 10px auto;
    font-size: 1.1rem;
    width: 60%;
    font-size: 20px;
    line-height: 2rem;
}
body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: auto;
    font-size: 16px;
    font-family: YakuHanJP, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", Hiragino Kaku Gothic ProN, "\30E1\30A4\30EA\30AA", Meiryo, sans-serif;
    color: #0e192d;
    background-color: #fff
}

.flexlf {
    display: flex;
}
.flexlf-left {
    width: 24%;
    font-size: 18px;
    line-height: 30px;
    color: #a8a8a8;
    text-indent: 2em;
}


.container {
    display: flex;
    align-items: center; /* 垂直居中 */
    gap: 20px; /* 元素之间的间距 */
    width: 100%;
}
.text-section {
    width: 30%;
}
.text-section2 {
    width: 35%;
}
.text-section3 {
    width: 55%;
}
.image-section {
    max-width: 50%; /* 图片部分的最大宽度 */
}

.title2 {
    margin-bottom: 10px; /* 标题之间的间距 */
}
.ncs {
    background: #f2eee3;
}
.psty {
    text-indent: 2em;
}
.scs {
    color: #b3b2af;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: bold;
    /* color: #89B2BA; */
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    margin: 0;
}
.pho-intr2 {
    max-width: 400px;
}
.pho-intruiwd {
    max-width: 540px;
}