body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: auto;
    font-size: 16px;
    font-family: YakuHanJP, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", Hiragino Kaku Gothic ProN, "\30E1\30A4\30EA\30AA", Meiryo, sans-serif;
    color: #0e192d;
    background-color: #fff
}

h2 {
    text-align: center;
    margin-top: 20px;
}

/* 整体视频容器 */
#videos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

/* 视频组布局 */
.video-group {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    /* width: 100%; */
}

/* 左侧介绍部分 */
.video-description {
    /* flex: 1;  */
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    width: 25%;
}

/* 右侧视频部分 */
.video-container {
    display: flex;
    gap: 20px;
    flex: 2;  /* 视频部分占据更大空间 */
    justify-content: space-between;
}

.video-container div {
    flex: 1;  /* 每个视频占 1/3 宽度 */
    text-align: center;
}

/* 视频 1、2、3 共用的样式 */
.videocont {
    width: 100%;
    max-width: 100%; /* 视频宽度100%，保证均分 */
    /* border-radius: 8px; */
}
/* 视频 4 5 共用的样式 */
.videocont4 {
    width: 100%;
    max-width: 100%; /* 视频宽度100%，保证均分 */
    /* border-radius: 8px; */
}
 /* 视频 4 调整宽度 */
 .video-container .video-04 {
    width: 100%;  /* 视频 04 占满父容器 */
    max-width: 500px;  /* 设置最大宽度 */
    align-items: center;
}
.vd {
    align-items: center;
}
/* 视频 4 5 共用的样式 */
.videocont5 {
    width: 100%;    /* 宽度自适应 */
    height: 500px !important;  /* 设置视频高度 */
    /* object-fit: cover;   */
}
 /* 视频 5 调整高度和宽度 */
 .video-container .video-05 {
    width: 100%;    /* 宽度自适应 */
    height: 600px !important;  /* 设置视频高度 */
    object-fit: cover;  /* 保证视频填满容器 */
}

.video-container h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}
.vdg {
    max-width: 60%;
}

.jsc {
    text-indent: 2em;
}
.ph_top {
    text-align: center;
    margin: 40px auto 10px auto;
    font-size: 1.1rem;
    width: 53%;
    font-size: 20px;
}

.vdio1 {
    border: #888888 1px solid;
    padding: 10px 20px;

}